/**
 * @package   yii2-user
 * @author    Yuri Shekhovtsov <shekhovtsovy@yandex.ru>
 * @copyright Copyright &copy; Yuri Shekhovtsov, lowbase.ru, 2015 - 2016
 * @version   1.0.0
 */

.lb-user-module-profile-image {
    margin-bottom: 20px;
}

.lb-user-module-profile-image img {
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.lb-user-module-profile-keys .auth-clients {
    margin-left: -15px !important;
    padding-top: 20px;
}

.lb-user-module-profile-password .password {
    display: none;
}

.auth-clients {
    overflow: visible !important;
}

.lb-user-module-login-widget {
    width: 400px;
}
